* {
  background-color: #4b4b4b;
}
.main {
  display: flex;
  justify-content: space-around;
  border: 2px solid burlywood;
  margin-top: 50px;
  border-radius: 50px;
  font-size: 50px;
}
.main-2 {
  display: flex;
  margin: 2rem;
  font-size: 50px;
  justify-content: space-around;
  width: 100%;
}
.date {
  margin-top: 31px;
  margin-right: 352px;
}
.car {
  color: aqua;
  padding-right: 15rem;
}
.amount {
  border-radius: 50px;
  padding-right: 33px;
}
